.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
}

.services {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.service {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px 20px;
  width: 45%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.service p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #777;
}

.service ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}

.service ul li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.service button {
  background-color: #666;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.service button:hover {
  background-color: #555;
}

.quote-banner {
  background-color: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.quote-banner p {
  font-size: 24px;
  margin: 0;
}

.track-progress {
  margin-top: 20px;
  text-align: center;
}

.track-progress button {
  background-color: #666;
  color: #fff;
  padding: 16px 48px; /* Increase padding for a bigger button */
  border: none;
  border-radius: 4px;
  font-size: 28px; /* Adjust font size to match */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top:20px
}

.track-progress button:hover {
  background-color: #555;
}

